body {
	background-color: gold;
	font-family: helvetica, sans-serif;
}

h1 {
	text-align: center;
	margin: 45px auto;
}

a {
	color: blueviolet;
	text-decoration: none;
}

a:hover {
	color: darkslategray;
	text-decoration: underline;
}

hr {
	border-color: darkslategray;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 6px;
	opacity: 0.5;
}

.wrapper {
	margin: 0 auto;
	max-width: 720px;
}

.list-control {
	list-style: decimal;
	padding: 0px 45px;
}

.email-link {
	margin: 60px auto;
	text-align: center;
}

.footer {
	text-align: center;
}

.footer-link {
	padding: 0px 12px;
}
